body{
 min-width: 640px;
    min-width: 768px;
    min-width: 1024;
   
    min-width: 600px;
    min-width: 992px;
     

    color: #40514E;
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif; 
    
}
h1{
    color:   black;
    font-size: 562.5%;
     margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
   /* width: 20;
         margin: 0 auto; لاننا وضعنا قيمة لل اتش وان وكي يكون العنوان في النص*/
} 
h2{
    color:  #66BFBF;
    font-family: 'Merriweather', serif;
    font-size: 250%;
    font-weight: normal;
    padding-bottom: 0.625%;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color:    #11999E;
}
p{
    line-height: 2; 
}
a{
    color:#11999E ;
    font-family: 'Merriweather', serif;
    margin: 0.625% 1.25%;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 6.25% auto;
}

.top-container{
    background-color:#7CD1B8;
    position: relative;
    padding-top: 6.25%;
   /* width: 200px;
    height: 200px;
   border: solid 10px;
   padding: 20px;*/
}
.middle-container{
    margin: 6.25% ;

   }
   .ahmed-img{
       border-radius: 100%;
   }
   .p1{
       width: 30%;
     margin: auto;
       
   }
  /*  display: inline-block;
   /*
    border:solid 20px;
    /*margin-left: 260px;  
    هاذي طريقة للتحكم في موقع الصورة
    position: relative;
    left: 200px;
}*/
.bottom-container{
    background-color:#66BFBF;
    padding: 3.125% 0 1.25% ;
  /*  width: 200px;
    height: 200px;
 left: 200px;
 top: 740px;
   border:solid 10px;
   margin-left: 500px;
   display: inline-block;
   position: relative;
   right: 200px;*/
}
.pro{
    text-decoration:underline ;
   
  font-weight: normal;
  line-height: 0.125%;

}
.top-cloud{
    position: absolute;
    right: 12.5%;
    top: 2.5%;
}
.mountain{
    width: 60%;
    height: 60%;
}
.bottom-cloud{
    position: absolute;
    left: 12.5%;
    bottom: 18.75%;
}
.computer1{
    border-radius: 100%; 
    width: 25%;
    float: left;
    margin-right: 1.857%;
}
.computer2{
    border-radius: 100%;
    width: 25%;/*حجم الصورة */
    float: right;/*يضع النص على يسار الصورة */
    margin-left: 1.857%;/*مسافه بين الصورة والنص */
   
   
}
.skill-row{
   width: 50%;
   margin:6.25% auto 6.25% auto;/*المسافة بين الدف والدف الذي بعده*/
   text-align: left;/*يضع النص على يسار  */
  
}
.contact-message{
    width: 40%;
    margin: 2.5% auto 3.75%;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .copyright{
      color: #EAF6F6;
      font-size: 75%;
  }
  .facebook{
      width:  3.125%;
      
     
    

  }
  .instagram{
      width: 3.125%;
     
  }
 
/*.comuter1-descrapion{
clear: left;

}
.comuter2-descrapion{
    clear: right;
}*/
